<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../static/css/div2.css" rel="stylesheet" type="text/css" />
<link href="../static/css/css2.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div id="top-menu-03-2-1">
		<ul>
        	<li id="li03-2-1"><a href="#">增加通道</a></li>
            <li id="li03-2-2"><a href="#">编辑通道</a></li>
            <li id="li03-2-3"><a href="#">删除通道</a></li>
            <li id="li03-2-4"><a href="#">导入配置</a></li>
            <li id="li03-2-5"><a href="#">导出配置</a></li>
    	</ul>
	</div>
   
   <div id="top-03">
   			<a href="#">AI通道</a><a href="#">DI通道</a><a href="#">DO通道</a>
   </div>
   
   <div id="center-03-2-1">
    	<table>
        <tr>
        <td> </td>  <td>SPID</td>  <td>通道名称</td>  <td>通道类型</td> <td>通道号</td> <td>传感器最小里程</td>
        <td>传感器最大里程</td> <td>最小测量值</td> <td>最大测量值</td> <td>比例系数</td> <td>微调值</td> <td>备注</td> <td>VI</td>
        </tr>
        <tr>
            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
            <td></td> <td></td>
        </tr>
    </table>
    
    </div>
  

</body>
</html>
