<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备采集故障通道</title>
    <link type="text/css" rel="stylesheet" href="../static/css/zjcss.css">
    <link type="text/css" rel="stylesheet" href="../static/css/zjdiv.css">
</head>
<body>
<div class="topm">
    <div style="text-indent: 10px">设备ID：      设备名称：          </div>
</div>
<div class="alltable">
    <table>
        <tr>
        <td> </td>  <td>SPID</td>  <td>通道名称</td>  <td>通道号</td>
        </tr>
        <tr>
            <td> </td>  <td></td>  <td></td>  <td></td>
        </tr>
    </table>
</div>

</body>
</html>