<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>告警阈值</title>
    <link type="text/css" rel="stylesheet" href="../static/css/zjcss.css">
    <link type="text/css" rel="stylesheet" href="../static/css/zjdiv.css">
</head>
<body>
<div class="topm" >
    <table border="0px" width="992px">
        <caption>关联告警阈值信号量</caption>
    </table>
</div>
<div class="alltable">
    <table>
        <tr>
            <td> </td> <td>SPID</td> <td>通道名称</td> <td>配置方案ID</td> <td>阈值</td> <td>开始延时</td> <td>结束延时</td>
        </tr>
        <tr>
            <td> </td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
        </tr>
    </table>
</div>
</body>
</html>