<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能设备采集配置</title>
    <link type="text/css" rel="stylesheet" href="../static/css/zjcss.css">
    <link type="text/css" rel="stylesheet" href="../static/css/zjdiv.css">
</head>
<frameset rows="40%,30%,*" framespacing="2" border="5">
    <frame name="1" src="z_shebei.html">
    <frame name="2" src="z_tongdao.html">
        <frame name="3" src="z_gaojing.html">
</frameset>
<!--
<body>
<div id="top_div">
    <div class="topm">
        <table border="0px">
            <tr>

                <td style="background-image: url(images/zjsb.png)"><a href="#">增加设备</a></td>
                <td style="background-image: url(images/bjsb.png)"><a href="#">编辑设备</a></td>
                <td style="background-image: url(images/scsb.png)"><a href="#">删除设备</a></td>
                <td style="background-image: url(images/drpz.png)"><a href="#">导入配置</a></td>
                <td style="background-image: url(images/dcpz.png)"><a href="#">导出配置</a></td>
            </tr>
        </table>
    </div>
    <div class="frame_around">
        <iframe frameborder="0"  scrolling="auto" src="z_shebei.html">

        </iframe>
    </div>
</div>

<div id="center_div">
    <div class="topm">
        <table border="0px">
            <td style="background-image: url(images/zjsb.png)"><a href="#">增加通道</a></td>
            <td  style="background-image: url(images/bjsb.png)"><a href="#">编辑通道</a></td>
            <td style="background-image: url(images/scsb.png)"><a href="#">删除通道</a></td>
        </table>
    </div>

    <div class="frame_around">
        <iframe frameborder="0" scrolling="auto"   src="z_tongdao.html">

        </iframe>
    </div>
</div>

<div id="bottom_div" >
    <div class="topm" >
        <table border="0px" width="992px">
           <caption>关联告警阈值信号量</caption>
        </table>
    </div>
    <div class="frame_around">
        <iframe frameborder="0" scrolling="auto" src="z_gaojing.html">

        </iframe>
    </div>
</div>
</body>-->
</html>