@charset "utf-8";

#box{
	width:1200px;
	height:1000px;
	margin:auto;
	margin-top:30px;
	border: #999 solid 1px;
	background-color:#CCC;
}

#top-title{
	width:auto;
	height:30px;
	border-bottom:#999 solid 1px;
	font-size:15px;
	font-weight:bold;
	line-height:30px;
}

#top-menu{
	margin-left:10px;
	width:auto;
	height:30px;
	font-size:14px;
	line-height:30px;
}

#center{
	width:auto;
	height:900px;
	border-top:#999 solid 2px;
	border-bottom:#999 solid 1px;	
}

#center-left{
	width:195px;
	height:880px;
	float:left;
	margin-left:5px;
	padding-top:20px;
	border:#999 solid 1px;
	border-top:none;
	line-height:25px;
}

#center-right{
	width:992px;
	height:900px;
	float:left;
	border-right:#666 solid 1px;
                background-color:#3FF;
}

#center-right-iframe{
	width:992px;
	height:900px;
}