@charset "utf-8";
*{
	padding:0px;
	margin:0px;
	border:0px;
}

body{
	font-family:"宋体";
	font-size:12px;
	background-color:#CCC;
}

a{
	color:#000;
	text-decoration:none;
}

#top-title img{
	margin-left:5px;
	margin-right:5px;
}

#top-menu ul li{
	float:left;
	padding-left:6px;
	padding-right:6px;
	list-style:none;
	background-repeat:no-repeat;
	background-position:left center;
	text-indent:10px;
}

#li01{
	background-image:url(../images/xzpz.png);
	
}

#li02{
	background-image:url(../images/dqpz.png);
	
}

#li03{
	background-image:url(../images/scpz.png);
	
}

#li04{
	background-image:url(../images/tbzxpz.png);
	
}

#li05{
	background-image:url(../images/dcdxpzwj.png);
	
}

#li06{
	background-image:url(../images/gb.png);
	
}


#center-left ul li{
	list-style:none;
}

#center-left ul li ul li{
	background-image:url(../images/bjsb.png);
	background-repeat:no-repeat;
	background-position:5px center;
	text-indent:25px;
}
	