<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../static/css/div2.css" rel="stylesheet" type="text/css" />
<link href="../static/css/css2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../static/js/zj.js"></script>
</head>

<body>

<div id="page02-form">
	<form name="form01" method="" action="">
    	监控中心(SC)IP：　　<input name="login_name" type="text" tabindex="4" class="I" size="30" disabled="disabled"/><br /><br />
        监控中心(SC)端口：　<input name="login_name" type="text" tabindex="4" class="I" size="30" disabled="disabled"/><br /><br />
        FTP登录名：　　　　 <input name="login_name" type="text" tabindex="4" class="I" size="30" disabled="disabled"/><br /><br />
        FTP密码：　　　　　 <input name="login_name" type="text" tabindex="4" class="I" size="30" disabled="disabled"/><br /><br />
        <input type="button" value="修改"  onclick="makeDisabledByClass('page02-form','I')"/><input type="button" value="保存" />
  </form>
</div>

</body>
</html>
