<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../static/css/div2.css" rel="stylesheet" type="text/css" />
<link href="../static/css/css2.css" rel="stylesheet" type="text/css" />
</head>

<body>
	
    
	<div id="top-menu-03-1">
		<ul>
        	<li id="li03-1"><a href="#">增加设备</a></li>
            <li id="li03-2"><a href="#">编辑设备</a></li>
            <li id="li03-3"><a href="#">删除设备</a></li>
    	</ul>

	</div>
    
	<div id="center-03-1">
    	<table>
        <tr>
        <td> </td>  <td>设备ID</td>  <td>设备名称</td>  <td>设备端口号</td>
        </tr>
        <tr>
            <td> </td>  <td></td>  <td></td>  <td></td>
        </tr>
    </table>
    
    </div>
    

</body>
</html>
