<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>B接口设备配置</title>
<link href="../static/css/div.css" rel="stylesheet" type="text/css" />
<link href="../static/css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/js.js"></script>
</head>
<body>

<div id="box">

	<div id="top-title"><img src="../static/images/001.jpg" width="15" height="15" />B接口设备配置</div>
    
    <div id="top-menu">
    	<ul>
        	<li id="li01"><a  href="#">下载配置</a></li>
            <li id="li02"><a href="#">读取配置</a></li>
            <li id="li03"><a href="#">上传配置</a></li>
            <li id="li04"><a href="#">同步中心配置</a></li>
            <li id="li05"><a href="#">导出电信配置文件</a></li>
            <li id="li06"><a href="#">导出阈值生成信号关联配置</a></li>
            <li id="li07"><a href="#">关闭</a></li>
        </ul> 
    </div>
    
      
    <div id="center">
    	<div id="center-left">
        	<ul>
            	<li>基本配置
                	<ul>
                    	<li><a href="01.html" target="center-right-iframe">FSU厂家信息</a></li>
                        <li><a href="02.html" target="center-right-iframe">中心服务器配置</a></li>
                      <!--  <li>阀值生成信号关联配置</li>-->
                    </ul>
                </li>
                <li>设备配置
                	<ul>
                    	<li><a href="03.html" target="center-right-iframe">主板卡采集配置</a></li>
                        <li><a href="zhinengshebeicaijipeizhi.html" target="center-right-iframe">智能设备采集配置</a></li>
                        <li><a href="shebeicaijiguzhangtongdao.html" target="center-right-iframe">设备采集故障通道</a></li>
                    </ul>
                </li>
                <li>字典配置
                	<ul>
                    	<li><a href="shebeizidianpeizhi.html" target="center-right-iframe">设备字典配置</a></li>
                        <li><a href="tongdaozidianpeizhi.html" target="center-right-iframe">通道字典配置</a></li>
                    </ul>
                </li>
                <li>智能设备采集配置
                    <ul>
                        <li><a href="youdianbuxieyicaijipeizhi.html" target="center-right-iframe">邮电部协议采集配置</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        
        <div id="center-right">
        	<iframe id="center-right-iframe" name="center-right-iframe" frameborder="0" scrolling="auto" src="01.html"></iframe>
        </div> 
    </div> 
    
    
    
    
    <div id="bottom"></div>

</div>

</body>
</html>
