<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通道字典配置</title>
    <link type="text/css" rel="stylesheet" href="../static/css/zjcss.css">
    <link type="text/css" rel="stylesheet" href="../static/css/zjdiv.css">
</head>
<body>
<div class="topm">
    <table border="0px">
        <tr>
            <td style="text-indent: 2px  ;background-image: none" >设备类型：</td>
            <td style="text-indent: 2px  ;background-image: none" >
                <select>
                    <option value="1">11111111</option>
                    <option value="2">22222222</option>
                    <option value="3">33333333</option>
                    <option value="4">44444444</option>
                    <option value="5">55555555</option>
                </select>
            </td>
            <td style="background-image: url(../static/images/zjsb.png)"><a href="#">增加通道</a></td>
            <td style="background-image: url(../static/images/bjsb.png)"><a href="#">编辑通道</a></td>
            <td style="background-image: url(../static/images/scsb.png)"><a href="#">删除通道</a></td>
            <td style="background-image: url(../static/images/drpz.png)"><a href="#">导入配置</a></td>
            <td style="background-image: url(../static/images/dcpz.png)"><a href="#">导出配置</a></td>
        </tr>
    </table>
</div>
<div class="alltable">
    <table>
        <tr>
            <td> </td>  <td>设备ID</td>  <td>设备名称</td>  <td>设备端口号</td>
        </tr>
        <tr>
            <td> </td>  <td></td>  <td></td>  <td></td>
        </tr>
    </table>
</body>
</html>