<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备表</title>
    <link type="text/css" rel="stylesheet" href="../static/css/zjcss.css">
    <link type="text/css" rel="stylesheet" href="../static/css/zjdiv.css">
</head>
<body>
<div class="topm">
    <table border="0px">
        <tr>

            <td style="background-image: url(../static/images/zjsb.png)"><a href="#">增加设备</a></td>
            <td style="background-image: url(../static/images/bjsb.png)"><a href="#">编辑设备</a></td>
            <td style="background-image: url(../static/images/scsb.png)"><a href="#">删除设备</a></td>
            <td style="background-image: url(../static/images/drpz.png)"><a href="#">导入配置</a></td>
            <td style="background-image: url(../static/images/dcpz.png)"><a href="#">导出配置</a></td>
        </tr>
    </table>
</div>
<div class="alltable">
    <table>
        <tr>
            <td> </td> <td>设备ID</td> <td>设备名称</td> <td>设备端口号</td> <td>子端口号</td> <td>动态库文件名</td> <td>设备地址</td>
            <td>波特率</td> <td>数据位</td> <td>停止位</td> <td>较验位</td>
        </tr>
        <tr>
            <td> </td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
            <td></td> <td></td> <td></td> <td></td>
        </tr>
    </table>
</div>
</body>
</html>