<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通道表</title>
    <link type="text/css" rel="stylesheet" href="../static/css/zjcss.css">
    <link type="text/css" rel="stylesheet" href="../static/css/zjdiv.css">
</head>
<body>
<div class="topm">
    <table border="0px">
        <td style="background-image: url(../static/images/zjsb.png)"><a href="#">增加通道</a></td>
        <td  style="background-image: url(../static/images/bjsb.png)"><a href="#">编辑通道</a></td>
        <td style="background-image: url(../static/images/scsb.png)"><a href="#">删除通道</a></td>
    </table>
</div>
<div class="alltable">
    <table>
        <tr>
            <td> </td> <td>SPID</td> <td>通道名称</td> <td>通道号</td>
        </tr>
        <tr>
            <td> </td> <td></td> <td></td> <td></td>
        </tr>
    </table>
</div>
</body>
</html>